body{
    background: url("../img/calcolatrice.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 15px;
}
#risultato{
    position:relative;
    color:black;
    top:10px;
}

.result-container{
    height: 50px;
    background: whitesmoke;
    border-radius: 10px;
}
footer{
    background:black;
    
    text-align:center;
    color:white;
    
}
